<!DOCTYPE html>
<html>
<head>
	<title><%= content_for?(:title) ? content_for(:title) : "Elusive Index" %></title>

	<!-- META DATA -->
	<%= csrf_meta_tags %>

	<!-- STYLESHEETS -->
	<%= stylesheet_link_tag "application", :media => "all" %>

	<!-- SCRIPTS -->
	<%= javascript_include_tag "application" %>

	<%= yield :head %>
</head>
<body class="<%= "#{controller.controller_name} #{@body_class}".strip %>">
	<%= render "shared/flash_message" %>

	<%= render "shared/header" %>
	
	<%= yield %>

	<%= render "shared/footer" %>

</body>
</html>
